* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  background-color: #faf3e7;
  color: #333;
  overflow-anchor: none;
}
.container {
  position: relative;
  width: 100%;
}

/* LANDING */
  
#container_one {
  height: 100vh;
}
.original {
  background-color: #faf3e7;
}
.inverted {
  background-color: #d0c7c4;
}
.original-two {
  background-color: #d0c7c4;
}
.inverted-two {
  background-color: #faf3e7;
}
.switch {
  position: fixed;
  width: 58px;
  height: 2em;
  cursor: pointer;
  margin: 1.5%;
  background-color: #333;
  border-radius: 2em;
  z-index: 500;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  left: .25em;
  bottom: .25em;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #f0e4e0;
  -webkit-transform: translateX(1.6em);
  -ms-transform: translateX(1.6em);
  transform: translateX(1.6em);
}
h1 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 4em;
  font-weight: 900;
  padding: 20% 0;
}

/* MENU */

.menu {
  position: fixed;
  text-transform: lowercase;
  top: 0;
  width: 100vw;
  height: 0;
  z-index: 2;
}
.main-nav {
  list-style-type: none;
  padding: 2% 5%;
  display: flex;
  justify-content: space-evenly;
  max-height: 1;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-100%);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out; 
}
.active {
  display: flex;
  justify-content: space-evenly;
  max-height: 1em;
  background: #faf3e7;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
  z-index: 100;
}
.main-nav li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  color: #333;
  border-bottom: solid 2px transparent;
  transition: border-bottom-color .2s ease-out;
  -webkit-transition: border-bottom-color .2s ease-out;
  -moz-transition: border-bottom-color .2s ease-out;
  -ms-transition: border-bottom-color .2s ease-out;
  -o-transition: border-bottom-color .2s ease-out;
}
.main-nav li a:hover {
  border-bottom: solid 2px;
}
.navbar-button {
  position: fixed;
  top: 3%;
  right: 1.5%;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.navbar-plus {
  position: fixed;
  height: 2.5em;
  transition: all .7s ease-out;
  z-index: 500;
}
.navbar-plus::after {
  content: '';
  position: fixed;
  width: 1.7em;
  height: .25em;
  background: #333;
  border-radius: .1em;
  z-index: 500;
}
.navbar-plus::after {
  transform: rotate(90deg);
  z-index: 500;
}
.navbar-button.active .navbar-plus {
  transform: rotate(45deg);
  z-index: 500;
}
.navbar-button.active .navbar-plus::after {
  transform: rotate(-45deg);
  z-index: 500;
}
#container_two {
  background: url('img/marble8.png');
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.my-photo {
  width: 30vw;
  margin: 5% 35%;
}
#sticky_scroll_one {
  position: sticky;
  top: 0;
  height: 100%;
}
#sticky_scroll_two {
  position: sticky;
  top: 0;
  height: 100%;
}

/* INTRO */

#intro div {
  padding: 10% 34% 5%;
}
#intro p {
  text-align: center;
  padding: 5%;
  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 1.2em;
}

/* PICS */
  
#container_three {
  padding: 10% 0% 5%;
}
.carousel {
  width: 100vw;
  height: auto;
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides {
  display: flex; /* displays images in a row */
} 
.slide {
  min-width: 25%;
  /* position: relative; */
}
.slide img {
  width: 90%; 
}
.slide-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0;
}
.slide-controls img {
  width: 2vw;
  cursor: pointer;
}
.next-btn,
.prev-btn {
  background: transparent;
  border: none;
  padding: 2vw;
}
.next-btn:focus,
.prev-btn:focus {
  outline: none;
}
.play, 
.pause {
  opacity: 1;
  cursor: pointer;
  position: absolute;
  width: 2vw;
  outline: none;
  padding: 15% 25%;
}

/* TEXT */

main {
  text-align: left;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 1.9em;
  padding-bottom: 5em;
}
.subheading {
  font-family: ChemyRetro, 'Paytone One';
  font-size: 2.5em;
  line-height: 1em;
}
.text {
  display: flex;
  flex-direction: row;
  padding-top: 5em;
}
#about {
  margin-left: 5%;
  width: 27.5%;
}
#section-one {
  width: 61%;
  display: flex;
  flex-direction: column;
}
#whycode-responsive {
  display: none;
}
#whycode {
  width: 27.5%;
  text-align: right;
}
#section-two {
  margin-left: 5%;
  width: 61%;
  display: flex;
  flex-direction: column;
}
#whyfac {
  margin-left: 5%;
  width: 27.5%;
}
#section-three {
  width: 61%;
  display: flex;
  flex-direction: column;
}
svg {
  padding-bottom: 8%;
}
textPath {
  font-size: 2.5em;
  fill: #333;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}
footer p {
  font-size: 1.3em;
  text-align: center;
  padding: 2% 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.main-links img {
  text-decoration: none;
  height: 1.8em;
  border-bottom: solid 2px transparent;
  transition: border-bottom-color .2s ease-out;
    -webkit-transition: border-bottom-color .2s ease-out;
    -moz-transition: border-bottom-color .2s ease-out;
    -ms-transition: border-bottom-color .2s ease-out;
    -o-transition: border-bottom-color .2s ease-out;
  }
.main-links a:hover {
  border-bottom: solid 3px #333;
}
.contact {
  margin-top: 3%;
}
#email {
  list-style-type: none;
  font-size: 1.3em;
}
.copyright {
  padding: 8% 0 2%;
  font-size: 1em;
  align-items: flex-end;
}
#up img {
  display: none;
  position: fixed;
  float: right;
  width: 2em;
  right: 1.5%;
  bottom: 3%;
  cursor: pointer;
  z-index: 100;
}

/* Responsive */
@media (min-width: 0px) and (max-width: 800px) {
  * {
    margin: 0;
  }
  .switch {
    margin: 2.4%;
    width: 48px;
    height: 1.7em;
  }
  .slider {
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    left: .25em;
    bottom: .25em;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #f0e4e0;
    -webkit-transform: translateX(1.3em);
    -ms-transform: translateX(1.3em);
    transform: translateX(1.3em);
  }
  .navbar-button {
    top: 4% ;
    right: 4% ;
    width: .5em ;
    height: .5em ;
  }
  .navbar-plus {
    height: 2em ;
  }
  .main-nav {
    flex-direction: column ;
    justify-content: space-evenly ;
    height: 100vh;
    max-height: 100vh ;
    text-align: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease; 
  }
  .active {
    display: flex ;
    flex-direction: column ;
    text-align: center ;
    justify-content: space-evenly ;
    max-height: 100vh ;
    font-size: 1em;
  }
  .hide {
    display: none;
  }
  #container_one {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25%;
  }
  h1 {
    font-size: 3em;
  }
  .text {
    display: flex;
    flex-direction: column;
    padding: 5% 5% 0 5%;
  }
  #section-one, #section-two, #section-three {
    margin-left: 5%;
    width: 90%;
  }
  #whycode-responsive {
    display: block;
    text-align: center;
  }
  #whycode {
    display: none;
  }
  #section-three {
    margin-left: 5%;
  }
  .subheading {
    font-size: 1.5em !important;
    width: 100% !important;
    text-align: center !important;
    margin: 5% 0% !important;
  }
  textPath {
    font-size: 4.5em;
  }
  footer {
    font-size: .8em;
    padding-top: 12%;
  }
  footer p {
    display: none;
  }
  .main-links {
    display: flex;
    flex-direction: column;
    line-height: 3.5em;
  }
  #email {
    padding-top: 4%;
  }
  .copyright {
    padding-top: 10%;
  }
}