* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background-color: #faf3e7;
    color: #333;
    overflow-anchor: none;
  }
  .container {
    position: relative;
    width: 100%;
  }
@media (min-width: 0px) and (max-width: 800px) {
  * {
    margin: 0;
  }
  #container_three div {
    padding: 10% 10% !important;
  }
  #container_four .text {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 0 5%;
  }
  #section-one, #section-two, #section-three {
    margin-left: 5%;
    width: 90% !important;
  }
  #footer {
    font-size: .75em;
    padding-top: 10% !important;
  }
  .links2 {
    display: flex;
    flex-direction: column !important;
    line-height: 2.5em !important;
  }
  #footer p {
    display: none;
  }
}

/* LANDING */
  
#container_one {
  height: 100vh;
}
.original {
  background-color: #faf3e7;
}
.inverted {
  background-color: #DED6D3;
}
.original-two {
  background-color: #DED6D3;
}
.inverted-two {
  background-color: #faf3e7;
}
.bg-button {
  position: fixed;
  top: 4%;
  left: 4%;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background: transparent;
  border: none;
  outline: none;
}
#bg {
  height: 3em;
}
.hi {
  text-align: center;
  letter-spacing: 1px;
  font-size: 4em;
  font-weight: 900;
  padding: 20% 0;
}

/* MENU */
.menu {
  position: fixed;
  background: #DED6D3;
  text-transform: lowercase;
  top: 0;
  width: 100vw;
  height: 0;
  z-index: 2;
}
.main-nav {
  list-style-type: none;
  padding: 2% 5%;
  display: flex;
  justify-content: space-evenly;
  max-height: 1;
}
.navbar-button {
  position: fixed;
  top: 3%;
  right: 1.5%;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.navbar-plus {
  position: fixed;
  height: 2.5em;
  z-index: 500;
}
.tiananmen {
  width: 30vw;
  margin: 5% 35%;
}
#sticky_scroll_one {
  position: sticky;
  top: 0;
  height: 100%;
}
#sticky_scroll_two {
  position: sticky;
  top: 0;
  height: 100%;
}

/* INTRO */

#container_three div {
  padding: 10% 34% 5%;
}
#container_three p {
  text-align: center;
  padding: 5%;
  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 1.2em;
}

/* TEXT */

#container_four {
  text-align: left;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 1.9em;
}
#container_four div {
  padding-top: 5%;
}
.text {
  display: flex;
  flex-direction: row;
  padding-top: 3em;
}
#about {
  margin-left: 5%;
  width: 27.5%;
}
#section-one {
  width: 61%;
  display: flex;
  flex-direction: column;
}
#whycode {
  width: 27.5%;
  text-align: right;
}
#section-two {
  margin-left: 5%;
  width: 61%;
  display: flex;
  flex-direction: column;
}
#whyfac {
  margin-left: 5%;
  width: 27.5%;
}
#section-three {
  width: 61%;
  display: flex;
  flex-direction: column;
}

/* LINKS */

#footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#footer p {
  text-align: center;
  padding-bottom: 2em;
}
.links {
  margin-top: 10%;
  font-size: 1.5em;
}
.links2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.links2 img {
  text-decoration: none;
  height: 1.3em;
  border-bottom: solid 2px transparent;
}
.contact {
  margin-top: 7%;
  font-size: 1.5em;
}
#email {
  list-style-type: none;
  font-size: .8em;
}
.copyright {
  position: relative;
  margin-top: 10%;
  font-size: 1em;
  text-align: center;
}